body {
  font-family: "Raleway", sans-serif;
  font-family: "Source Code Pro", monospace;
  width: 90%;
  margin: auto;
}

.button-1 {
  background-color: #4ba87d;
  border: 4px solid #4ba87d;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.button-2 {
  background-color: #fff;
  border: 2px solid #4ba87d;
  padding: 12px 15px;
  color: #4ba87d;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.button-3 {
  border: none;
  padding: 14px 15px;
}

.button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar img {
  width: 250px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
  margin-left: 10px;
  padding: 10px 0px;
}

.navbar ul li:hover {
  color: #4ba87d;
  border-bottom: 2px solid #4ba87d;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

#hamburger {
  display: none;
}

.hero-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 25px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  float: left;
  justify-content: space-around;
  padding-right: 150px;
  margin: 0px;
}

.try-now {
  margin-right: 40px;
  padding: 10px 30px;
}

.image-size {
  width: 100%;
  height: auto;
}

.text-area h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.text-transform {
  text-transform: capitalize;
}

.middle-section {
  background-color: #f7f7f7;
  padding: 120px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.middle-part {
  background-image: url(../images/recharge.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.middle-part h1 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
}

.service-section {
  background-color: #caeac7;
  margin: 0;
  padding: 30px 0px;
}

.service-section h1,
.customers-section h1 {
  margin: 0;
  padding: 50px;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.card {
  margin: 10px;
  background-color: #f7f7f7;
  width: 320px;
}

.card img {
  width: 100%;
}

.details {
  padding: 25px;
  font-size: 14px;
}

.details a {
  text-decoration: none;
  color: #4ba87d;
  letter-spacing: 0px;
  font-weight: 700;
}

.customers-section {
  padding: 50px;
}

.customers-section h1 {
  padding: 80px;
}

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer {
  font-family: "Raleway", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 340px;
  height: 240px;
  display: flex;
  align-items: flex-end;
  color: #fff;
  margin: 0px 15px;
}

.customer-one {
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4)),
    url(../images/customers/customer1.jpg);
}

.customer-two {
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4)),
    url(../images/customers/customer2.jpg);
}

.customer-three {
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4)),
    url(../images/customers/customer3.jpg);
}

.identity {
  padding: 15px 20px;
}

.identity h2,
.identity p {
  padding: 0px;
  margin: 0px;
}

.text-align {
  text-align: center;
  font-size: 44px;
  font-family: "Raleway", sans-serif;
}

.subscription {
  padding: 50px 0px 0px 0px;
}

.news-letter {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.news-letter input {
  width: 30%;
  font-size: 18px;
  font-weight: 500;
}

.successful-note {
  font-weight: 600;
  text-align: center;
  color: #4ba87d;
}

.brands {
  padding: 50px 0px 0px 0px;
  margin-bottom: 0px;
}

.brand-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 80px 100px 80px;
}

.plan {
  background-color: #4ba87d;
  padding: 80px;
  color: #fff;
  text-align: center;
}

.plan h1 {
  font-size: 60px;
}

.plan button {
  text-transform: uppercase;
}

footer {
  padding: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.footer-upper {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
}

.footer-upper a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.footer-upper a:hover,
.footer-lower a:hover {
  text-decoration: underline;
  color: #4ba87d;
}

.footer-lower {
  padding: 30px 0px 0px 0px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.footer-lower a {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 1023px) {
  body {
    margin: auto;
  }

  .menu {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .fa-bars {
    padding: 20px 0px;
  }

  .hero-area {
    display: grid;
    grid-template-columns: 1fr;
  }

  .text-area h1 {
    font-size: 35px;
  }

  .buttons {
    justify-content: space-around;
    padding: 0px;
  }

  .button-1, .button-2, .button-3, .try-now {
    padding: 8px;
  }

  .button-2 {
    padding: 10px 8px;
  }

  .middle-section {
    padding: 50px 0px;
  }

  .middle-part h1, .customers-section h1, .service-section h1 {
    font-size: 32px;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .cards {
    display: grid;
  }

  .customers {
    display: grid;
  }

  .customer, .card {
    width: 250px;
    margin: 10px;
  }

  .text-align {
    font-size: 34px;
  }

  .subscription {
    padding: 35px 0px;
  }

  .brands {
    padding: 30px 0px;
  }

  .brand-logo {
    display: grid;
    padding: 20px 0px;
  }
  
  .brand-logo img {
    margin: auto;
    padding: 10px;
  }

  .news-letter {
    display: grid;
    gap: 10px;
  }

  .news-letter input {
    width: 100%;
    font-size: 20px;
  }

  .plan {
    padding: 50px 0px;
  }

  .footer-upper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-lower {
    display: grid;
  }
}
